@charset "UTF-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button,pre {font-size:14px;line-height:1.5;font-family:"Noto Sans KR", Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* 공통 CSS */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.clear_fix:after{display:block;clear:both;content:'';}

html{height:100%;}
body{margin:0;height:100%;}
.hidden{display:none;}
.bg_img{width:100%;height:100%;}
.dimmed{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);}

.wrap_center{position:absolute;top:50%;transform:translateY(-50%);width:100%;text-align:center;}
#greeting{display:inline-block;padding-bottom:20px;font-size:50px;color:#fff;}
#quotes{position:absolute;bottom:20px;left:0;width:100%;text-align:center;color:#fff;font-size:16px;font-weight:300;font-style:italic;opacity:.8;}
#weather{position:absolute;top:20px;right:20px;color:#fff;font-size:18px;font-weight:300;}
#clock{position:absolute;top:20px;left:20px;margin:0;;color:#fff;font-weight:300;font-size:18px;}

.inp_name{width:360px;height:50px;box-sizing:border-box;padding-left:20px;background-color:transparent;border:initial;border-bottom:2px solid #fff;font-size:16px;color:#fff;}
.inp_name::placeholder{font-size:16px;color:#fff;opacity:.7;}
.btn_enter{width:80px;height:40px;margin-left:20px;font-weight:bold}
.inp_todo{width:440px;height:40px;margin-bottom:20px;padding-left:20px;border:initial;box-sizing:border-box;background-color:rgba(255,255,255,0.5);border-radius:4px;}
.inp_todo::placeholder{text-align:center;color:#333;}
#todoList{width:440px;max-height:280px;margin:0 auto;}
#todoList li{position:relative;height:40px;border-radius:4px;background-color:#fff;line-height:40px;font-size:18px;}
#todoList li+li{margin-top:14px;}
#todoList button{position:absolute;top:4px;right:10px;font-size:20px;color:#666;}
#todoList::-webkit-scrollbar {display: none;}
.chk_todo{width:20px;height:20px;position:absolute;top:50%;left:20px;margin-top:-10px;}
.chk_todo:checked+span{text-decoration: line-through;}

.reset_cont{width:100px;height:40px;margin-top:20px;border-radius:4px;background-color:#000;color:#f2f2f2;}